aside {
    border: 2px solid #1B1B37;
    background-color: #ACB4D7;
    width: 30vw;
    height: 100vh;
    text-align: center;
    margin-top: 5%
}

.questions-header {
    margin-bottom: 8%;
    text-decoration: underline;
}

