
h2 {
  font-size: larger;
  text-align: center;
}

.button-wrapper{
  display: flex;
  justify-content: center;

}
button {
  padding: 5px;
  margin: 2%;
  border-radius: 3px;
  border: none;
  background-color: #1B1B37;
  color: white;
  font-size: large;
  font-weight: bold;
}

button:hover {
  border: 3px solid #ACB4D7;
}

.instructions-and-user-wrapper {
  margin-right: 10%;
}

.user-quote{
  font-weight:600
}